//colors

$red: #7C131A;
$orange: #F16704;
$pale: #F3E9CE;
$green: #768948;
$black: #091E05;

//fonts

$font-small: 0.8rem;
$font-medium: 1.3rem;
$font-large: 1.9rem;
$font-giant: 4.0rem;

//spacing

$gap-small: 0.5rem;
$gap-med: 1rem;
$gap-large: 1.5rem;
