.viewpane {

  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;

  height: min-content;
  width: min-content;

  .pizza {
    display: block;
    width: 25rem;
    height: 25rem;
  }

  .notPizza {
    display: none;
  }
}
